@model Rental4You.ViewModels.ApplicationUserViewModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Detalhes";
    Layout = "~/Views/Shared/_Layout_2.cshtml";
}


@if(Model.UserId == UserManager.GetUserId(User)){
    <p class="alert alert-warning">
            Não pode desativar a sua própia conta.
    </p>
    <a asp-action="Index" class="btn btn-primary" style="width:auto">Voltar para Lista de Utilizadores</a>
} else{
<form method="post">
    <div class="card">
        <div class="card-header">
                <h2>Editar estado do utilizador <span class="badge bg-dark text-white">@Model.UserName</span></h2>
            
        </div>
        <div class="card-body">
            <div class="form-group">
                <label asp-for="PrimeiroNome" class="control-label"></label>
                <input asp-for="PrimeiroNome" class="form-control"></input>
                <span asp-validation-for="PrimeiroNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UltimoNome" class="control-label"></label>
                <input asp-for="UltimoNome" class="form-control"></input>
                <span asp-validation-for="UltimoNome" class="text-danger"></span>
            </div>
            <div>
                <label class="form-check-label mb-2">
                    <input class="form-check-input" asp-for="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
                </label>
            </div>
            <div class="card-footer">
                <input type="submit" value="Guardar" class="btn btn-primary" style="width:auto" />
                <a asp-action="Index" class="btn btn-primary" style="width:auto">Cancelar</a>
            </div>
        </div>
</form>
}