@{
    ViewData["Title"] = "Admin DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <canvas id="reservasDiarias"></canvas>
</div>
<div>
    <canvas id="reservasMensais"></canvas>
</div>
<div>
    <canvas id="clientesMensais"></canvas>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        $.ajax({
            type: "POST",
            url: "/Dashboards/GetDadosReservasDiarias",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                let Labels = data[0];
                let Datasets1 = data[1];
                let dataT = {
                    labels: Labels,
                    datasets: [{
                        label: "Nº de Reservas Diárias dos últimos 30 dias",
                        data: Datasets1,
                        fill: true,
                        borderWidth: 1,
                        borderColor: 'rgb(75, 192, 192)',
                        tension: 0.1,
                        
                    }]
                };
                let ctx = $("#reservasDiarias").get(0).getContext("2d");
                let myNewChart = new Chart(ctx, {
                    type: 'line',
                    fill: true,
                    showLine: true,
                    data: dataT,
                    options: {
                        responsive: true,
                        title: { display: true, text: 'Nº de Reservas' },
                        legend: { position: 'bottom' },
                        scales: {
                           y:{
                               beginAtZero: true,
                                ticks: {
                                    stepSize: 1
                                },
                                suggestedMin: 0,
                                suggestedMax: 10
                           }
                        }
                    }
                });
            }
        });
    </script>

    <script>
        $.ajax({
            type: "POST",
            url: "/Dashboards/GetDadosReservasMensais",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                let Labels = data[0];
                let Datasets1 = data[1];
                let dataT = {
                    labels: Labels,
                    datasets: [{
                        label: "Nº de Reservas Mensais dos últimos 12 meses",
                        data: Datasets1,
                        fill: true,
                        borderWidth: 1,
                        borderColor: 'rgb(75, 192, 192)',
                        tension: 0.1,

                    }]
                };
                let ctx = $("#reservasMensais").get(0).getContext("2d");
                let myNewChart = new Chart(ctx, {
                    type: 'line',
                    fill: true,
                    showLine: true,
                    data: dataT,
                    options: {
                        responsive: true,
                        title: { display: true, text: 'Nº de Reservas' },
                        legend: { position: 'bottom' },
                        scales: {
                            y: {
                                beginAtZero: true,
                                ticks: {
                                    stepSize: 1
                                },
                                suggestedMin: 0,
                                suggestedMax: 10
                            }
                        }
                    }
                });
            }
        });
    </script>

    <script>
        $.ajax({
            type: "POST",
            url: "/Dashboards/GetClientesMensais",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                let Labels = data[0];
                let Datasets1 = data[1];
                let dataT = {
                    labels: Labels,
                    datasets: [{
                        label: "Nº de Clientes Mensais dos últimos 12 meses",
                        data: Datasets1,
                        fill: true,
                        borderWidth: 1,
                        borderColor: 'rgb(75, 192, 192)',
                        tension: 0.1,

                    }]
                };
                let ctx = $("#clientesMensais").get(0).getContext("2d");
                let myNewChart = new Chart(ctx, {
                    type: 'line',
                    fill: true,
                    showLine: true,
                    data: dataT,
                    options: {
                        responsive: true,
                        title: { display: true, text: 'Nº de Clientes' },
                        legend: { position: 'bottom' },
                        scales: {
                            y: {
                                beginAtZero: true,
                                ticks: {
                                    stepSize: 1
                                },
                                suggestedMin: 0,
                                suggestedMax: 10
                            }
                        }
                    }
                });
            }
        });
    </script>

 }


