@model Rental4You.ViewModels.PesquisaVeiculosViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="" style="background-image: url(@Url.Content("~/images/hero_1.jpg"));min-height: 49rem;">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-10">

                <div class="row mb-5">
                    <div class="col-lg-7 intro">
                        <h1><strong>Alugar um carro</strong> nunca foi tão fácil</h1>
                    </div>
                </div>

                <form class="trip-form" method="post" asp-controller="Veiculos" asp-action="Search">

                    <div class="row align-items-center">

                        <div class="mb-3 mb-md-0 col-md-2">
                            <label asp-for="Localizacao" class="control-label"></label>
                            <select asp-for="Localizacao" class="form-control" asp-items="ViewBag.Localizacoes"></select>
                        </div>
                        <div class="mb-3 mb-md-0 col-md-2">
                            <label asp-for="CategoriaId" class="control-label">Tipo de Categoria</label>
                            <select asp-for="CategoriaId" class="form-control" asp-items="ViewBag.CategoriaId"></select>
                        </div>
                        <div class="mb-3 mb-md-0 col-md-3">
                            <div class="form-control-wrap">
                                <label asp-for="DataLevantamento" class="control-label"></label>
                                <input asp-for="DataLevantamento" type="date" id="start-date" class="form-control" min="@DateTime.Now.ToString("yyyy-MM-dd")" required/>
                                <span asp-validation-for="DataLevantamento" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="mb-3 mb-md-0 col-md-2">
                            <div class="form-control-wrap">
                                <label asp-for="DataEntrega" class="control-label"></label>
                                <input asp-for="DataEntrega" type="date" id="end-date" class="form-control" min="#start-date" required/>
                                <span asp-validation-for="DataEntrega" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="mb-3 mb-md-0 col-md-3 mt-3">
                            <input type="submit" class="btn btn-primary btn-block py-3" value="Pesquisar" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("start-date").addEventListener("change", function () {
        var startDate = this.value;
        document.getElementById("end-date").setAttribute("min", startDate);
    });
</script>





