@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout_2.cshtml";
}

<div class="">
    <h1>@ViewData["Title"]</h1>
    <p>Plataforma desenvolvida no âmbito da Unidade Curricular de Programação Web.</p>
    <h2>Autores</h2>
    <p>Gonçalo Salgueirinho</p>
    <p>Paulo Gouveia</p>

</div>
